<div class="mt-4">
    <div class="row">
        <div class="col-md-3">
            <h1>Employees</h1>
            <p id="noEmployeesStatusText" *ngIf="employees.length === 0">No Employees</p>
            <p id="employeesStatusText" *ngIf="employees.length > 0">There are {{employees.length}} employees</p>
        </div>
        <div class="col-md-6 form-inline">
            <ng-container *ngIf="employeeStore.length > 0">
                <input id="searchBar" class="form-control search mb-4" [(ngModel)]="searchItem" (keyup)="onSearch()" placeholder="Search">
                <select class="ml-2 mb-4 select custom-select form-control">
                    <option>Filter By</option>
                </select>
            </ng-container>
        </div>
        <div class="col-md-3">
            <button id="newEmployee" class="btn add-employee-btn ml-2 mt-1" (click)="openNav()"> <span class="add-icon">&nbsp;+&nbsp;</span> New Employee</button>
        </div>
    </div>
</div>