.subheader {
    color: #7030a3;
}

.form-control {
    color: white;
    background-color: #767070;
}

.save-btn {
    border-radius: 50px;
    background-color: #7030a3;
    min-width: 200px;
    color: white;
}

.add-icon {
    color: black;
    background-color: white;
    border-radius: 100px;
}

.trash-icon {
    background-color: transparent;
    border: 0;
    color: white;
}